

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
#wrapper .navbar{
  background-color: rgb(41, 51, 82);
  color: #ffffff;
  height: 5em;
  width: 100%;
  padding: 1em;
  margin-top: 0px;
}
#wrapper{
  min-height: 90%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-link{
  color:#ffffff;
  opacity: 0.75;
}
.nav-link:hover{
  color: #ffffff;
  opacity: 1;
}
#main-content{
 width:100%
}



.index-home-section{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home-photo{
  width: 50%;
}
 .about{
  
  width: 50%;
  padding: 1.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
} 
.register-link{
  text-align: center;
  font-weight: 300;
}

.about .p{
  font-size: 0.9em;
  line-height: 23px;
}


.chevron-container {
  text-align: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.bx-chevron-down {
  font-size: 5em; /* Adjust the font size as needed */
}

.services-section{
  display: flex;
  flex-direction: row;
  
  
}
.carousel{
  width: 60%;
  padding-left: 5px;
}

.service-statement{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  

}


#footer {
  background-color: rgb(41, 51, 82);
    position: relative;
    padding: 20px 50px;
    margin-top: auto;
    min-height: 80px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
  }
  #footer .social_icons,
  #footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  #footer .social_icons li,
  #footer .social_icons li{
    list-style: none;
  }
  #footer .social_icons li a,
  #footer .menu li a{
    font-size: 2em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  #footer .social_icons li a:hover{
    transform: translateY(-10px);
  }
  #footer .menu li a{
    font-size: 1.2em;
    color:#ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s ease;
    text-decoration: none;
    opacity: 0.75;
  }

  #footer .menu li a:hover{
    opacity: 1;
  }
  #footer p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
  }
  #footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url('../images/wave13.png');
    background-size: 1000px 100px;
  }

 #footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  #footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
  }
  #footer .wave#wave3{
    z-index: 1000;
    opacity: 0.7;
    bottom: 15;
    animation: animateWave 3s linear infinite;
  }
  #footer .wave#wave4{
    z-index: 999;
    opacity: 0.8;
    bottom: 20px ;
    animation: animateWave2 3s linear infinite;
  }

  @keyframes animateWave
  {
    0%{
       background-position-x:  1000px;  
    }
    100%{
        background-position-x: 0px;
    }
  }
  @keyframes animateWave2
  {
    0%{
        background-position-x: 0px ;
    } 
    100%{
        background-position-x: 1000px;
    }
  }
