
body{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#wrapper .navbar{
  background-color: rgb(41, 51, 82);
  color: #ffffff;
  height: 5em;
  width: 100%;
  padding: 1em;
  margin-top: 0px;
}
#wrapper{
  min-height: 90%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-link{
  color:#ffffff;
  opacity: 0.75;
}
.nav-link:hover{
  color: #ffffff;
  opacity: 1;
}
#main-content{
 width:100%
}



.index-home-section{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home-photo, .about{
  width: 50%;
  background-size: contain;
}
.home-photo img{
 min-height: 100%;
}
 .about{
  padding: 1.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
} 
.register-link{
  text-align: center;
  font-weight: 300;
}

.about .p{
  font-size: 0.9em;
  line-height: 23px;
}
/* About us section */
.about-page{
  display: flex;
  flex-direction: row;
}
.org-mission, .team{
  width: 50%;
}
.org-mission{
  text-align: center;
  padding: 20px 20px;
}
.team{
  text-align: center;

}

.programs{
  display: flex;
  flex-direction: row;
}

.programs-intro, .services-card{
  width: 50%;
  
}
.services-card{
  padding-left: 15px;
}

.services-section{
  display: flex;
  flex-direction: row;  
}
.carousel,.service-statement{
  width: 50%;
  padding-left: 5px;
}

/* .service-statement{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  

} */



#footer {
  background-color: rgb(41, 51, 82);
    position: relative;
    padding: 20px 50px;
    margin-top: auto;
    min-height: 80px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
  }
  #footer .social_icons,
  #footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  #footer .social_icons li,
  #footer .social_icons li{
    list-style: none;
  }
  #footer .social_icons li a,
  #footer .menu li a{
    font-size: 2em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  #footer .social_icons li a:hover{
    transform: translateY(-10px);
  }
  #footer .menu li a{
    font-size: 1.2em;
    color:#ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s ease;
    text-decoration: none;
    opacity: 0.75;
  }

  #footer .menu li a:hover{
    opacity: 1;
  }
  #footer p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
  }
  #footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url('../images/wave13.png');
    background-size: 1000px 100px;
  }

 #footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  #footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
  }
  #footer .wave#wave3{
    z-index: 1000;
    opacity: 0.7;
    bottom: 15;
    animation: animateWave 3s linear infinite;
  }
  #footer .wave#wave4{
    z-index: 999;
    opacity: 0.8;
    bottom: 20px ;
    animation: animateWave2 3s linear infinite;
  }
/* styling contact section */


.contact-page{
  display: flex;
  flex-direction: column; 
}
.contact-text{
  align-items: center;

}
.contact-text > h2{
  text-align:  center;
}

.contact-container{
  display: flex;
  flex-direction: row;
}
.contact-info, .contact-form{
  width: 50%;
}
.contact-info{
  margin-left: 2rem;
}
.contact-container .contact-info{
 width: 50%;
 display: flex;
 flex-direction: column;
}

.contact-container .contact-info .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact-container .contact-info .box .icon{
  min-width: 60px;
  height: 60px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
  color: #fff;
}
.contact-container .contact-info .box .contact-text{
  display: flex;
  margin-left: 10px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 200;

}
.contact-container .contact-info .box .contact-text h3{
  font-weight: 300;
  color: #576567;
}

.contact-form{
 background-color: #fff;
 display: flex;
align-items: center;
}

.contact-form h2{
  font-size: 30px;
  color: #333;
}
.contact-form form{
  width: 50%;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.contact-form .input-box{
  position:relative;
  width: 100%;
  margin-top: 20px;

}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  font-size: 1em;
  margin: 10px 0;
  border: none;
  font-size: 1.2em;
  border-bottom: 2px solid #333;
  outline: none;
}
.contact-form .input-box span{
 position: absolute;
 left: 0;
 padding: 5px 0;
 font-size: 16px;
 margin: 10px 20px;
 pointer-events: none;
 transition: 0.5s;
 color: #666;
}
.contact-form .input-box input:focus~ span,
.contact-form .input-box input:valid~ span,
.contact-form .input-box textarea:focus~ span,
.contact-form .input-box textarea:valid~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
  width: 30%;
  background-color: #429735;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.4em;
}