
/* Login form styling */
.form-container {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    align-content: center;
    background-image: url('../images/image1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
.form-container .directives{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-container .directives p a{
    text-decoration: none;
    font-size: 1.3em;
}
.login-text{
    font-weight: 600;
    font-size: 2em;
    padding-top: 5%;
    color: #f0f3f5;
  }
.login-credentials{
    display: flex;
    background: transparent;
    margin-top: 6%;
    height: 60%;
    width: 50%;
    border-radius: 17px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    
}
label[for^="id_username"] {
    font-weight: 500;
    font-size: 1.2em; 
    color: white;
  }
label[for^="id_password"] {
   font-weight: 500; 
   font-size: 1.2em;
   margin-top: 1.2em;
   color: white;
  }
  input[type="text"]{
    width: 80%;
    height: 2em;
    height: 2.3em;
    border-radius: 5px;
    border-style: none;
    
    
  }
  input[type="password"]{
    width: 80%;
    height: 2em;
    height: 2.3em;
    border-radius: 5px;
    background-color: #dbe9ee;
    border-style: none;
    
  }
  .add-trainer .center-align{
    display: flex;
    justify-content: center;
  }
  .custom-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  input[type="submit"]{
    width: 80%;
    height: 2em;
    height: 2.3em;
    border-radius: 17px;
    background-color: #e9bd43;
    font-size: 1.1em;
    margin-top: 2em;
    color: black;
  }
/* Dashboard form */
.biodata form input[type="text"]{
  width: 8rem;
  text-align: right;
}

  /* edit profile form */
  
  #content-section .edit-profile-form{
    border: blue 2px solid;
  }

  #content-section .profile-edit-intro {
    margin: 2em 2em;
  }
  #content-section .profile-edit-intro h1, p{
    text-align: center;
  }
  #content-section .edit-profile-form form{
     
      border: orange 2px solid;
      margin: 50px 30px;
      display: inline-block; 
      justify-content: space-around;
      width: 45%;

  }
  #content-section .edit-profile-form form input[type="text"],
    select, input[type='file']{
    width: 50%;
    margin-bottom: 1em;
    display:block;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    }
  #content-section .edit-profile-form form select{
    height: 2em;
    height: 2.3em;
    border-radius: 5px;
    border-style: none;
    width: 50%;
  }
    

#content-section .edit-profile-form form input[type='email']{
  text-transform: lowercase;
  font-size: 1.2em;
  display: block;
  width: 50%;
  height: 2em;
  height: 2.3em;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
  
}
#content-section .edit-profile-form form input[type='submit']{
  width: 50%;

}
#content-section .edit-profile-form form p {
  display: inline;
}
#content-section .edit-profile-form form label{
  font-size: 1.2em;
  font-weight: 400;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 100%; 

  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  padding-top: 0;
  flex-wrap: nowrap;
}
.payment-form form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  border: #429735 solid 2px;
  border-radius: 17px;

}

.payment-form form .m-pesa-logo{
  width: 20em;
  height: 10em; 
  background-image: url('../images/m-pesa.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.payment-form form .payment-info{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 0px;
  width: 60%;
}
.payment-form form hr{
  height: 0.3em;
}
.payment-form form .payment-info p {
  text-align: left;
}

.payment-form form .payment-info p input{
  display: flex;
  width: 100%;
  outline: none;
  border-style: none;
  margin-right: 0;
  height: 2em;
  border-radius: 3px;
}
.payment-form form .payment-info input[type="submit"]{
  background-color: #429735;
  margin-bottom: 30px;
  padding-left: 20%;
}