{% extends 'base2.html' %}

{% block title %} Book session {% endblock %}

{% block content %} 

{% if messages %}
<div class="messages">
  {% for message in messages %}
    <div class="message {{ message.tags }}">
      <span class="message-text">{{ message }}</span>
      <button class="close-button">&times;</button>
    </div>
  {% endfor %}
</div>
{% endif %}


<table>
  <h1>Available Sessions for Booking </h1>
  <thead>
    <tr>
      <th>Session Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Trainer</th>
      <th>Booking Status</th>
    </tr>
  </thead>
  <tbody>
    
    {% for event in events %}

      <tr>

        <form method="POST" class="booking-form" action="{% url 'book_session'%}">
          {% csrf_token %}
          <input type="hidden" name="event_name" value="{{ event.name}}" >
          <input type="hidden" name="event_start" value="{{ event.start|date:"Y-m-d H:i:s"}}">
          <input type="hidden" name="event_end" value="{{ event.end|date:"Y-m-d H:i:s" }}">
          <input type="hidden" name="event_trainer" value="{{ event.trainer }}">
        <td>{{ event.name }}</td>
        <td>{{ event.start}}</td>
        <td>{{ event.end}}</td>
        <td>{{ event.trainer }}</td>
        <td> <input type="submit" value="Book" class="custom-button"/></td>

      </form>

      </tr>

    {% endfor %}
  </tbody>
</table>


<div class="my-bookings mt-5">
  <h2>Active Bookings</h2>
  <table id="bookings-table">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Session Name</th>
        <th>Time Left</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

{% endblock %}