{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="slant">
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Provident exercitationem, quam eaque placeat, ducimus iusto eveniet 
             dicta est vitae voluptatum explicabo asperiores reprehenderit repudiandae? 
             Rem quia natus maxime dolore adipisci.
        </p>
        <button><a href="#">Find More</a></button>
        <button><a href="#">Find More</a></button>
    </div>
    <div class="image">
        <div>
        <img src="{% static 'accounts/images/image1.jpeg'%}" alt="a man exercising">
    </div>

    </div>

  </div>






{% endblock %}