{% extends "base2.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block styles %} 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
 <link href="{% static 'accounts/css/profile.css' %}" rel="stylesheet">
 <!-- <link href="{% static 'accounts/css/forms.css' %}" rel="stylesheet"> -->
{% endblock styles %}

{% block content %}
 
<h4>My Package Subscription Details </h4>
 
 <div class="package-descr">

        <div class="card my-package-card" style="width: 18rem;">
            <img src="{{ package.package_photo.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ package.package_name }}</h5>
              <p class="card-text">{{ package.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item">Cras justo odio</li> -->
            </ul>
            <div class="card-body">
              <a href="{% url 'payment_form' %}?package_id={{ package.package_id }}" class="card-link">Renew</a>
              <div class="cost">Ksh {{ package.price }}</div>
            </div>
          </div>

     <div class="descr-cont">
        

            <div class="profile-overview">
      

              <div class="row">
                <div class="col">
                    <img src="{{ package.photo }}" class="rounded float-left img-fluid mt-5" alt="profile picture" style="width: 200px; height: 200px; padding-left: .5rem;">
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" class="form-control mt-5" value="{{ recent_transaction.transaction_date }}" readonly>
                        <label class="form-label">Subscription Date</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="email" class="form-control mt-5" value="{{ recent_transaction.transaction_date|date:"F d, Y" }}" readonly>
                        <label class="form-label">Subscription Expiry</label>
                    </div>
                </div>
            </div>
            
            <hr />
            
            <div class="row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form8Example3" class="form-control" value="{{ package.package_name }}" readonly>
                        <label class="form-label" for="form8Example3">Package Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" class="form-control" value="{{ remaining_days }}" readonly>
                        <label class="form-label">Remaining Days</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="email" class="form-control" value="{{ recent_transaction.amount }}" readonly>
                        <label class="form-label">Amount Paid(Ksh)</label>
                    </div>
                </div>
            </div>
            
            <hr />
            
            <div class="row">
              <div class="col">
                <div class="form-outline">
                    <a href="{% url 'packages' %}" class="btn btn-primary" role="button">Upgrade</a>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                  <a href="{% url 'payment_form' %}?package_id={{ package.package_id }}" class="btn btn-primary" role="button">Renew</a>
                </div>
            </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" class="form-control" value="{{ package.description }}" readonly>
                        <label class="form-label">Package Description</label>
                    </div>
                </div>
            </div>
            
     

      </div>  

{% endblock %}