{% extends "base2.html" %}
{% load static %}
{% block title %} Packages {% endblock %}

{% block content %}
<h2>Fitness unleashed. Explore our packages.</h2>

<div class="package-class">


  <div class="card" style="width: 18rem;">
    <img src="{{ packages.0.package_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{packages.0.package_name }}</h5>
      <p class="card-text">Get started with essential workout equipment and basic fitness classes</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Gym Access</li>
      <li class="list-group-item">Group Fitness Classes</li>
      <li class="list-group-item">Locker Room Facilities</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'payment_form' %}?package_id={{ packages.0.package_id }}" class="card-link">Enroll</a>
       <div class="cost">Ksh {{ packages.0.price }} Monthly </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{{ packages.1.package_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ packages.1.package_name }}</h5>
      <p class="card-text">Designed for beginners, this package includes 
        personalized training sessions and introductory fitness classes.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Basic Package +</li>
      <li class="list-group-item">Fitness Orientation</li>
      <li class="list-group-item">Progress Tracking</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'payment_form' %}?package_id={{ packages.1.package_id }}" class="card-link">Enroll</a>
      <div class="cost">Ksh {{ packages.1.price }} Monthly </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{{ packages.2.package_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ packages.2.package_name }}</h5>
      <p class="card-text">Enjoy unlimited access to facilities, a variety of fitness classes,
         and exclusive member benefits.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Beginner's Bundle +</li>
      <li class="list-group-item">Wellness Services</li>
      <li class="list-group-item">Specialty Classes:</li>
    </ul>
    <div class="card-body">
     
      <a href="{% url 'payment_form' %}?package_id={{ packages.2.package_id }}" class="card-link">Enroll</a>
      <div class="cost">Ksh {{ packages.2.price }} Monthly</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{{ packages.3.package_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">	{{ packages.3.package_name }}</h5>
      <p class="card-text">Elevate your fitness journey with priority class bookings, 
        advanced training programs, and premium facilities.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Unlimited Classes</li>
      <li class="list-group-item">Advanced Fitness Assessments</li>
      <li class="list-group-item">Additional Amenities</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'payment_form' %}?package_id={{ packages.3.package_id }}" class="card-link">Enroll</a>
      <div class="cost">Ksh {{ packages.3.price }} Monthly</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{{ packages.4.package_photo.url }}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">	{{ packages.4.package_name }}</h5>

      <p class="card-text">Get access to all facilities, a wide range of classes, personalized training, 
        nutrition guidance, and more.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">All-Inclusive Access</li>
      <li class="list-group-item">Unlimited Personal Training</li>
      <li class="list-group-item">VIP Treatment</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'payment_form' %}?package_id={{ packages.4.package_id }}" class="card-link">Enroll</a>
      <div class="cost">Ksh {{ packages.4.price }} Monthly</div>
    </div>
  </div>

  
         
</div>

{% endblock  %}