{% extends "base2.html" %}
{% load static %}
{% block title %} Packages {% endblock %}

{% block content %}
<div class="package-class">

  <div class="card" style="width: 18rem;">
    <img src="{% static "accounts/images/diamondcrown.jpg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Basic Package</h5>
      <p class="card-text">Get started with essential workout equipment and basic fitness classes</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enroll</a>
       <div class="cost">Ksh 1000</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static "accounts/images/diamondcrown.jpg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beginner's Bundle</h5>
      <p class="card-text">Designed for beginners, this package includes 
        personalized training sessions and introductory fitness classes.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enroll</a>
      <div class="cost">Ksh 1000</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static "accounts/images/diamondcrown.jpg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Silver Membership</h5>
      <p class="card-text">Enjoy unlimited access to facilities, a variety of fitness classes,
         and exclusive member benefits.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
     
      <a href="#" class="card-link">Enroll</a>
      <div class="cost">Ksh 1000</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static "accounts/images/diamondcrown.jpg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">	Gold Membership</h5>
      <p class="card-text">Elevate your fitness journey with priority class bookings, 
        advanced training programs, and premium facilities.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enroll</a>
      <div class="cost">Ksh 1000</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static "accounts/images/diamondcrown.jpg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">	Ultimate Fitness Bundle</h5>

      <p class="card-text">Get access to all facilities, a wide range of classes, personalized training, 
        nutrition guidance, and more.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Enroll</a>
      <div class="cost">Ksh 1000</div>
    </div>
  </div>
         

</div>

{% endblock  %}