{% extends "base2.html" %}
{% load static %}

{% block title %}  {% endblock %}
<style>

</style>

{% block content %}

<div class="payment-form">
        <form method="post" action="{% url 'payment_index' %}">

            {% csrf_token %}

             <div class="intro">
                <h2>Payment Details</h2>
                <hr>
                <p class="mpesa-input-labels">Accepted</p>
            </div>

            <div class="m-pesa-logo">
                    
            </div>

            <div class="payment-info">

               <p>
                <label for="amount" class="mpesa-input-labels">Amount(Ksh):</label>
                <input type="number" name="amount" value="{{ package.price }}" readonly> 
               </p>
                
               <p>
                <label for="today" class="mpesa-input-labels">Date:</label>
                <input type="date" name="today" id="todayField" value="{% now 'Y-m-d' %}" readonly>
               </p>

               <p>
                <label for="package_name" class="mpesa-input-labels">Package</label>:</label>
                <input type="text" name="package_name" value="{{ package.package_name }}" id="package_name" readonly> 
               </p>

               <p>
                <label for="package_no" class="mpesa-input-labels">Package Reference No:</label>:</label>
                <input type="text" name="package_no" value="{{ package.package_id }}" id="package_no" readonly> 
               </p>


               <p>
                <label for="phone_no" class="mpesa-input-labels">M-Pesa No:</label>
                <input type="tel" name="phone_no" id="phone_no" placeholder="e.g., 07...or 01..." required> 
               </p>

               <p>
                <input type="submit" value="Confirm Payment" onclick="return showConfirmation();">
               </p>
            </div>

        </form>
</div>
<script>
function showConfirmation() {
        var amount = document.querySelector("input[name='amount']").value;
        if (confirm("Confirm you want to pay Ksh " + amount + " to GZFitness Club account")) {
            return true; // Proceed with form submission
        } else {
            showCancellationNotification();
            return false; // Prevent form submission
        }
    }

    function showCancellationNotification() {
        var notification = document.createElement('div');
        notification.classList.add('notification');
        notification.textContent = "Payment Cancelled";
        document.querySelector('.payment-form').appendChild(notification);

        setTimeout(function() {
            notification.remove();
        }, 2000); // Remove the notification after 3 seconds
    }
</script>


{% endblock %}
