{% extends 'base2.html' %} {% block title %}{% endblock %} {% block content %}

<table>
  <h1>My Payments History</h1>
  <thead>
    <tr>
      <th>Tranasaction Id</th>
      <th>Date</th>
      <th>Time</th>
      <th>Amount</th>
      <th>Phone</th>
      <th>Package</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}

    <tr>
      <td>{{ transaction.transaction_id }}</td>
      <td>{{ transaction.transaction_date }}</td>
      <td>{{ transaction.created_at|time:"P"}}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.sender_no }}</td>
      <td>{{ transaction.package }}</td>
      <td>{{ transaction.status }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
