
{% extend 'base2' %}

{% block title %} Payments {% enblock %}

{% block content %}

     <p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus tempora accusamus dicta ab labore. Inventore sapiente laudantium hic mollitia consectetur molestias doloribus doloremque commodi officiis. Suscipit exercitationem consectetur veritatis cum.
            Ratione quibusdam facere, repudiandae quia nisi reiciendis, ut dignissimos minima, numquam nobis eligendi culpa aliquid mollitia tempore totam distinctio iure illo dolorum? Facere dolore assumenda quisquam esse eos! Modi, ab!
            Dolor laboriosam quod fugit culpa molestias neque doloremque ut similique debitis, iste facilis maxime error unde pariatur, quia porro rerum recusandae voluptatem architecto suscipit. Eveniet totam quod obcaecati laudantium animi.
            Pariatur non ut, odit dignissimos molestias magni velit. Iste temporibus, sequi cum tenetur, tempore, ipsa aliquid nulla incidunt maiores eum alias nam adipisci obcaecati pariatur nisi at voluptatibus ratione delectus?
     </p>

{% endblock  %}