{% extend 'base2.html' %}
{% load static %}

    {% block title %}Profile{% endblock %}
    

    {% block content %}
        <div id="header">
            <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <a href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href="{% url "login" %}">Log-in</a>
            {% endif %}
            </span>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima officia quisquam voluptatum et accusantium ad recusandae cumque, doloremque ullam architecto! Mollitia voluptas natus a, ullam numquam sed! Earum, eligendi minus.
        Esse officiis et mollitia praesentium sequi fugit suscipit ipsa exercitationem numquam pariatur repellat recusandae tenetur consequuntur cumque repellendus dolores reiciendis, cum corrupti deserunt hic itaque. Beatae voluptatem culpa ad cum.
        Reprehenderit, cumque illum alias provident incidunt deserunt nostrum explicabo quos voluptas? Fugiat porro distinctio ipsum sint similique dolor, laboriosam libero, sit dignissimos tempora fuga reiciendis cum magnam voluptates illum non.</p>
   {% endblock %}





