{% extends 'base2.html' %}
{% load static %}

{% block title %} trainers {% endblock %}
    

 {% block content %}
    <div class="team-area sp">
        <div class="container">
           <div class="row">

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                 <div class="inner">
                    <div class="team-img">
                       <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="Member Photo">
                    </div>
                    <div class="team-content">
                       <h4>Virgie Perry</h4>
                       <h5>Athletic Trainer</h5>
                       <div class="team-social">
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-twitter"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                       </div>
                    </div>
                 </div>
              </div>
              
           </div>
        </div>
     </div>
    {% endblock %}