{%  extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
   
<div class="form-container">
    <div class="login-text">Login</div>
         <div class="login-credentials">
            
               <form method = "post">
                     {{ form.as_p }}
                     {% csrf_token %}
                     <input type="hidden" name="next" value="{{ next }}"/>
                     <p><input type="submit" value="Log in"></p>
                 </form>
         </div>
        <div class="directives" >
             <p>
                Forgotten your password?
              <a href="{% url "password_reset" %}">
                 Reset
                 </a>
             </p>
             
             {% if form.errors %}
             <p>
                 Your username and password didn't match! try again.<br>
             </p>
               <p>
                 If you don't have an account <a href="{% url "register" %}">Register Now .</a>
               </p>
              {% endif %}
        </div>
</div>
{%  endblock %}