{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock styles %}

{% block content %}

<div class="reset-notification">
<h1>Reset Code Sent </h1>
<p>We've emailed you instructions for setting your new password.</p>
<p>Kindly check your email</p>
<p><a href="{% url 'home' %}"></a></p>

{% endblock %}
</div>
{% block navigationbar %}{% endblock navigationbar %}

{% block footer %}{% endblock footer %}