{% extends "base.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock style %}

{% block title %}Change your password{% endblock %}

<div class="reset-pass-form">
{% block content %}
 <h1>Change your password</h1>
 <p>Use the form below to change your password.</p>
 <form method="post" class="reset-form">
 {{ form.as_p }}
 <p><input type="submit" value="Change"></p>
 {% csrf_token %}
 </form>
{% endblock %}
</div>



{% block navigationbar %}{% endblock navigationbar %}
{% block footer %}{% endblock footer %}