
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>

    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="{% static 'accounts/css/forms.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/css/fonts.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   {% endblock styles %}
   
   

</head>
<body> 

   {% block navigationbar %}
   <div id="wrapper">
            <nav class="navbar navbar-expand-lg ">
               <div class="container-fluid">
               <a class="navbar-brand" href="#">GenZFit</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                     <a class="nav-link" href="{% url 'home' %}">Home</a>
                     <a class="nav-link" href="#about-page">About</a>
                     <a class="nav-link" href="#services">Services</a>
                     <a class="nav-link" href="#contact">Contact Us |</a>
                     <a class="nav-link" href="{%url 'login' %}">Sign In</a>
                     <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </div>
               </div>
              </div>
            </nav>
      {% endblock navigationbar%}

         <div id="main-content">
            {% block content %}
            {% endblock %}
         </div>

  {% block footer %}
       <footer id="footer">
             <ul class="social_icons">
               <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a>Facebook</li>
               <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a>Instagram</li>
               <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a>Twitter</li>
               <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>LinkedIn</li>
             </ul>
             <div class="menu">
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">FAQs</a></li>
               <li><a href="#">T&Cs</a></li>
             </div>
             <p>@copy2023 GenerationZ CMS|All Rights Reserved</p>
         </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <script src="{% static 'accounts/javascript/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'accounts/javascript/myscript.js' %}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   {% endblock footer %}
 </div>
</body>
</html>