{% extends 'base2.html' %}
{% block title %} {% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <button type="button" class="btn-close" aria-label="Close">X</button>
    </li>
    {% endfor %}
</ul>
{% endif %}
    <div class="profile-edit-intro">
        <h1>Edit your Profile Details</h1>
            <p>You can edit your account using the following form:</p>
      
        <div class="edit-profile-form">
                <form  method="post" enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
              </form>
        </div>
{% endblock %}

<!-- {% extends 'base2.html' %}

{% block dashboard_styles %}
<style>
    .dashboard_content {
        background-color: white;
        border-left: 2px solid rgba(1, 1, 1, .10);
    }
</style>
{% endblock dashboard_styles %}

{% block dashboard_content %}
<div>
    <h1 class="dashboard-title">My Profile</h1>

    <form method="post" class="dashboard-form">
        {% csrf_token %}
        {% include 'accounts/components/form_fields.html' with form=user_form %}
        {% include 'accounts/components/form_fields.html' with form=profile_form %}
        {% include 'accounts/components/btn_submit.html' with btn_text="Save Profile" %}
    </form>
</div>
{% endblock dashboard_content %} -->