{% extends 'base2.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<link href="{% static 'accounts/css/profile.css' %}" rel="stylesheet">
{% endblock styles%}

{% block content %}

<!-- {% if messages %}
<ul class="messages">
{% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <button type="button" class="btn-close" aria-label="Close">X</button>
    </li>
    {% endfor %}
</ul>
{% endif %} -->
{% include 'accounts/components/messages.html' %}
        <h4>Edit your Profile Details</h4>
          
      
        <div class="edit-profile-page">
             <form  method="post" enctype="multipart/form-data" class="my-profile-edit">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
              </form>

              <div class="other-details"></div>
{% endblock %}
