{% extends 'base2.html' %}
{% block title %} {% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <button type="button" class="btn-close" aria-label="Close">X</button>
    </li>
    {% endfor %}
</ul>
{% endif %}
    <div class="profile-edit-intro">
        <h1>Edit your Profile Details</h1>
            <p>You can edit your account using the following form:</p>
      
        <div class="edit-profile-form">
                <form  method="post" enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
              </form>
        </div>
{% endblock %}
