{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="{% static 'accounts/css/signupform.css' %}" rel="stylesheet">
</head>
<body>
    <div class="brand"><h1>GenZFit</h1></div>
    <div class="signup-box">
        <h1>Create Account</h1>
        <form method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Sign Up"></p>
        </form>
         <!-- <p class="p1">By clicking the Sign Up Button, you agree to our<br>
            <a href="#">Terms and Conditons</a> and <a href="#">Privacy Policy</a>
         </p> -->
  </div>

  <p class="p1 para2">
    Already have an account? <a href="{% url 'login'%}">Login here</a>
 </p>
</body>
</html>
 